{% extends 'base.html' %}

{% block title %}Введіть новий пароль{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>Встановіть новий пароль!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Змініть мій пароль">
        </form>

    {% else %}

        <p>Посилання на скидання пароля було недійсним, можливо, тому, що воно вже використовувалося. Попросіть змінити новий пароль.</p>

    {% endif %}
{% endblock %}
